---
import { Image } from 'astro:assets';

import { jobs } from '@/data/jobs.json';

const logos = import.meta.glob<{ default: ImageMetadata }>('@/assets/images/jobs/*.png');

const contract = jobs.filter(({ type }) => type === 'contract');
const fulltime = jobs.filter(({ type }) => type === 'full-time');
---

<style>
    @property --_label-reveal {
        inherits: true;
        initial-value: 0%;
        syntax: '<percentage>';
    }

    .job {
        aspect-ratio: 1 / 1;
        grid-column: span 2;
        overflow: hidden;
        position: relative;

        a,
        img {
            display: block;
            height: 100%;
            object-fit: contain;
            width: 100%;
        }

        a {
            background: unset;
        }
    }

    .label {
        --_label-reveal: 0%;
        --_bg-color: color-mix(in srgb, var(--yellow-2), transparent 6%);

        background-color: var(--_bg-color);
        color: var(--green-5);
        display: grid;
        inset: 0;
        mask: radial-gradient(ellipse at 50% 100%, black 50%, transparent 0%) no-repeat 50% 100% /
            300% calc(var(--_label-reveal) * 2);
        padding: var(--spacing);
        place-items: center;
        position: absolute;
        text-align: center;
        transition: --_label-reveal calc(var(--animation-timing) * 2) var(--animation-curve-out);

        &:hover {
            --_label-reveal: 100%;
        }
    }
</style>

<!-- <p>
    I&rsquo;ve worked with many great people and teams, sometimes as a valued member of an amazing
    team and other times as a hired hand.
</p> -->
<div class="label-group">
    <div class="label-group__set">
        <h3 class="label-group__label">In-House Team</h3>
        <ul class="label-group__list">
            {
                fulltime.map(({ label, logo, url }) => (
                    <li class="label-group__item job">
                        <a href={url} target="_blank">
                            <Image src={logos[logo]()} alt={label} />
                            <span class="label type-5">{label}</span>
                        </a>
                    </li>
                ))
            }
        </ul>
        <div class="label-group__set">
            <h3 class="label-group__label">As A Hired Hand</h3>
            <ul class="label-group__list">
                {
                    contract.map(({ label, logo, url }) => (
                        <li class="label-group__item job">
                            <a href={url} target="_blank">
                                <Image src={logos[logo]()} alt={label} />
                                <span class="label type-5">{label}</span>
                            </a>
                        </li>
                    ))
                }
            </ul>
            <p class="label-group__note">and plenty more.</p>
        </div>
    </div>
</div>
