---
import { Image } from 'astro:assets';

import lucy from '@/assets/images/lucy-bg.png';
import glow from '@/assets/images/lucy-glow.png';
import Title from '@/components/title/Title.astro';
import Layout from '@/layouts/Layout.astro';

interface Props {
    title: string;
    headline: string;
    tagline: string;
}

const { title, headline, tagline } = Astro.props;
---

<style>
    .info {
        grid-column: 1 / -1;
        max-width: max(300px, 56vw);

        p {
            text-transform: none;
            text-wrap: balance;
        }
    }

    .error-title {
        font-size: calc(var(--type-4) * 2);
        font-weight: 300;

        strong {
            font-weight: 700;
        }
    }

    .lucy,
    .lucy__img,
    .lucy__glow {
        display: block;
        height: 100%;
        inset-block: 0;
        inset-inline-end: 0;
        max-height: unset;
        max-width: unset;
        object-fit: contain;
        object-position: bottom right;
        position: absolute;
        width: 100%;
    }

    .lucy {
        mix-blend-mode: luminosity;
        width: 80vw;
        z-index: -1;
    }

    .lucy__glow {
        filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(90deg);
    }
</style>

<Layout title={title} isErrorRoute={true}>
    <div class="info">
        <Title class="error-title">{'{'}<strong>{headline}</strong>{'}'}</Title>
        <p class="type-3">{tagline}</p>
        <p>
            If I sent you here, uh, sorry! Could you please <a href="mailto:hi@dou.gg"
                >let me know</a
            >?
            <br />
            <strong>Otherwise maybe you can just <a href="/">go home</a>?</strong>
        </p>
        <slot />
    </div>
    <div role="presentation" class="lucy">
        <Image class="lucy__glow" src={glow} alt="" layout="responsive" format="avif" />
        <Image class="lucy__img" src={lucy} alt="" layout="responsive" format="avif" />
    </div>
</Layout>
