---
import '@/styles/reset.css';
import '@/styles/variables.css';
import '@/styles/global.css';
import '@/styles/typography.css';

import { Image } from 'astro:assets';

import favicon from '@/assets/images/favicon.png';
import funston from '@/assets/images/funston.png';
import GlobalFooter from '@/components/global-footer/GlobalFooter.astro';
import GlobalHeader from '@/components/global-header/GlobalHeader.astro';

interface Props {
    title: string;
    bodyClass?: string;
    wrapperClass?: string;
    isErrorRoute?: boolean;
}

const { title, bodyClass, wrapperClass, isErrorRoute } = Astro.props;
---

<style>
    .wrapper {
        max-width: calc(var(--spacing) * 67);
    }

    .funston {
        height: 100%;
        left: 0;
        mix-blend-mode: luminosity;
        object-fit: auto 100%;
        object-position: 0 0;
        opacity: 0.12;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
</style>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href={favicon.src} />
        <meta name="generator" content={Astro.generator} />
        <title>{`{ ${title} }: Dou.gg`}</title>
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <script is:inline type="module">
            if (!('anchorName' in document.documentElement.style)) {
                import('https://unpkg.com/@oddbird/css-anchor-positioning');
            }
        </script>
        <script is:inline async>
            const handleDialogToggle = (button) => {
                const dialogId = button.getAttribute('data-dialog');
                const dialog = document.getElementById(dialogId);

                if (dialog.open) {
                    dialog.close();
                } else {
                    dialog.showModal();
                }
            };

            document.addEventListener('click', (event) => {
                // Dialog Toggles
                const dialogToggle = event.target.closest('[data-dialog]');
                if (dialogToggle) {
                    event.preventDefault();
                    handleDialogToggle(dialogToggle);
                }

                // Dialog Close

                // const dialogId = dialogBtn.getAttribute('data-dialog');
                // const dialog = document.getElementById(dialogId);

                // if (dialog.open) {
                //     dialog.close();
                // } else {
                //     dialog.showModal();
                // }
            });
        </script>
    </head>
    <body class:list={[bodyClass]}>
        <GlobalHeader />
        <main class:list={['wrapper', wrapperClass]}>
            <slot />
        </main>
        <GlobalFooter isErrorRoute={isErrorRoute} />
        <Image src={funston} alt="" role="presentation" class="funston" />
    </body>
</html>
